<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="styles.css" inline>
</head>
  <table class="body">
      <tr>
          <td>
              <center>


                  <spacer size="15"></spacer>
                  <container class="no-bg">
                      <row>
                          <columns large="7" class="custom-pb">
                              <p class="tiny-text small-text-center">Сопроводительное письмо.HTML-верстальщик</p>
                          </columns>
                          <columns  large="6" class="custom-pb">
                              <p class="text-right small-text-center"><a href="http://letter.aleksey-isaev.site" class="tiny-text basic-link">Посмотреть письмо в браузере</a></p>
                          </columns>
                      </row>
                  </container>

                      <table>
                          <tbody>
                              <tr>
                                  <td>
                                      <img class="main-pic" src="http://letter.aleksey-isaev.site/ava.jpg" alt="HTML-верстка.Frontend-разработка">
                                  </td>
                              </tr>

                          </tbody>
                      </table>
                  <spacer size="15"></spacer>
                  <container>
                      <row>
                          <columns>
                              <spacer size="40"></spacer>
                              <p class="main-sub-heading">Исаев</p>
                              <h1 class="main-heading">Алексей Витальевич</h1>
                              <spacer size="30"></spacer>
                              <p class="main-body-p">Здравствуйте, уважаемые специалисты и руководители.</p>
                              <p class="main-body-p">Я ознакомился с деятельностью Вашей компании, и хотел бы стать
                                  частью команды, создающей замечательные IT-продукты и решения.</p>
                              <p class="main-body-p"> Мне нравится процесс программирования и создания Web-страниц,
                                  поэтому хотел бы предложить свою кандидутуру на позицию HTML-
                                  верстальщик/Junior Frontend-разработчик.</p>
                              <p class="main-body-p">С моими навыками вы можете ознакомится на моем личном сайте по
                                  ссылке ниже.</p><p class="main-body-p">Помимо самостоятельного изучения, я успешно прошел следующие
                                  курсы:</p>
                               <ul>
                                  <li>курс продвинутой веб-разработки от loftshool.com</li>
                                  <li>интенсивный курс по javascript в HTML-Academy</li>
                               </ul>
                               <p class="main-body-p">В моем портфолио также представлена подробная информация по
                               работам и программам курсов.</p>
                               <p class="main-body-p">Что касается опыта работы - в веб-студиях я не работал. Однако
                                  пройденные курсы позволили прочувстовать, что такое командная
                                  разработка.</p>
                               <p class="main-body-p">Помимо большого количества учебных проектов, я занимался
                                  поддержкой сайта коммерческой компании на CMS Jooomla.
                                  Верстал многостраничный сайт для строительной компании.
                                  В свободное время совершенствую английский. Могу проводить
                                  переговоры, проходить интервью на английском.</p>
                                <p class="main-body-p">Я готов к работе в офисе, потому что хотел бы проникнуться
                                  духом и атмосферой разработки, наставничества, быстрого
                                  развития своих умений.</p>
                                <p class="main-body-p">Если моя кандидатура Вас заинтересовала - я готов пройти
                                  испытательные задания и собеседования.</p>
                                <p class="main-body-p">Если же вы планируете расширение на ближайшее будущее  -
                                  пожалуйста, оставьте данное письмо в закладках.</p>
                              <spacer size="30"></spacer>
                              <center>
                                  <button href="http://aleksey-isaev.site">САЙТ-ПОРТФОЛИО</button>
                                  <spacer size="30"></spacer>
                              </center>
                          </columns>
                      </row>
                  </container>

                  <spacer size="15"></spacer>
                  <container>
                      <row>
                          <columns class="custom-pb">
                              <spacer size="40"></spacer>
                              <h2 class="text-center text-uppercase">Навыки</h2>
                          </columns>
                      </row>
                      <row>
                          <columns small="4" large="5">
                          </columns>
                          <columns small="4" large="2">
                              <div class="decorative-line"></div>
                          </columns>
                          <columns small="4" large="5"></columns>
                      </row>
                      <spacer size="15"></spacer>
                      <row>
                          <columns large="2" small="6">
                            <p class="text-center bordered"">HTML</p>
                          </columns>
                          <columns large="2" small="6">
                              <p class="text-center bordered">CSS3</p>
                          </columns>
                          <columns large="2" small="6">
                              <p class="text-center bordered">SVG</p>
                          </columns>
                          <columns large="2" small="6">
                              <p class="text-center bordered">PUG</p>
                          </columns>
                      </row>
                      <row>
                          <columns large="2" small="6">
                              <p class="text-center bordered">LESS</p>
                          </columns>
                          <columns large="2" small="6">
                              <p class="text-center bordered">GIT</p>
                          </columns>
                          <columns large="2" small="6">
                              <p class="text-center bordered">BEM</p>
                          </columns>
                          <columns large="2" small="6">
                              <p class="text-center bordered">JavaScript</p>
                          </columns>
                      </row>
                      <row>
                          <columns large="2" small="6">
                              <p class="text-center bordered">jQuery</p>
                          </columns>
                          <columns large="2" small="6">
                              <p class="text-center bordered">Photoshop</p>
                          </columns>
                          <columns large="2" small="6">
                              <p class="text-center bordered">Bootstrap</p>
                          </columns>
                          <columns large="2" small="6">
                              <p class="text-center bordered">Gulp</p>
                          </columns>
                      </row>
                  </container>

                  <spacer size="15"></spacer>

                  <container class="no-bg">
                      <row>
                          <columns>
                              <p class="text-right small-text-center">
                                  This letter is responsive
                                  <!--<a href="" class="basic-link tiny-text">This letter is resposive</a>-->
                                  <!--<a href="" class="basic-link tiny-text">unsubscribe from this list</a>-->
                              </p>

                          </columns>
                      </row>
                  </container>

                  <spacer size="50"></spacer>

              </center>
          </td>
      </tr>
  </table><!--основной wrapper, замена body-->
</body>
</html>